

nav a{
    text-decoration: none;

    
    color: rgb(3, 28, 169);
    margin: 10px;
    padding: 16px;
    
}
:hover .nav{
    color: chartreuse;
}
nav {
    text-align: center;
   
}
h1 {
    text-align: center;
}

footer{
    text-align: center;
    font-size: 30px;
}
nav  select{
    color: rgb(3, 28, 169);
}
nav  button{
    color: rgb(3, 28, 169);
}
 button.aaa {
    color: rgb(3, 28, 169);
    text-align: center;
}